:root,
.light {
  --bg-color: #fff;
  --invert-bg-color: #191919;
  --txt-color: #666;
  --title-color-text: #42446e;
  --bg-card-color: #fff;
  --txt-card-title-color: #000;
  --txt-tech-card-color: #42446e;
  --bg-footer-line-color: #666;
  --invert-bg-footer-line-color: #42446e;
  --skeleton-color: #fff;
  --skeleton-shadow: rgb(0 0 0 / 20%);
}
