.navbar {
  position: relative;
}

.navbar,
.navbar-menu {
  background-color: #eaeaea;
}

.navbar-menu {
  height: 100%;

  .ant-menu-item {
    text-align: center;
    min-width: 120px;
    padding: 0;
    line-height: normal;
  }

  .ant-menu-item-selected {
    font-weight: 600;
    border-radius: 10px;
  }

  .ant-menu-item-selected[data-menu-id$="-zoom"] {
    background-color: #f6ffed;
    color: #52c41a;
  }

  .ant-menu-item-selected[data-menu-id$="-drag"] {
    background-color: #fff7e6;
    color: #fa8c16;
  }
}

.navbar-menu.ant-menu-horizontal {
  border-bottom: 1px solid;
}

.navbar-menu.ant-menu-light.ant-menu-horizontal > .ant-menu-item::after,
.navbar-menu.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: none;
}
