.navbar {
  position: relative;
}

.navbar-menu {
  height: 100%;

  .ant-menu-item {
    line-height: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
}

.navbar-menu.ant-menu-horizontal {
  border-bottom: 1px solid;
}

.navbar-menu.ant-menu-light.ant-menu-horizontal > .ant-menu-item::after,
.navbar-menu.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: none;
}
