.navbar {
  position: relative;
}

.navbar-menu {
  height: 100%;
}

.ant-menu-item {
  line-height: 0;
  padding: 0;
  text-align: center;
}

.ant-menu-horizontal {
  border-bottom: 1px solid;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: none;
}

.ant-menu-horizontal .ant-menu-item {
  padding: 0;
}
